In [1]:
!type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
import os
os.getcwd()

'C:\\Users\\ankit19.gupta\\ankit\\ankit\\ML_Code\\Python_R_Prolog_Code\\Python_Practice\\Python_For_Data_Analysis'

In [33]:
import pandas as pd
fold='.\\pydata-book-3rd-edition\\examples'
print(pd.read_csv(fold+'\\ex2.csv',names=['a','b','c','d','message'],skiprows=[0,1]))

   a   b   c   d message
0  9  10  11  12     foo

In [17]:
print(pd.read_csv(fold+'\\ex2.csv',names=['a','b','c','d','message'],index_col=[4,1]))

            a   c   d
message b
hello   2   1   3   4
world   6   5   7   8
foo     10  9  11  12

In [23]:
list(open(fold+'\\ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [44]:
result = pd.read_table(fold+'\\ex5.csv',sep=',')
print(result)
print(pd.isnull(result))

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [45]:
result = pd.read_table(fold+'\\ex5.csv',sep=',',na_values={'message': ['foo','world'],'something':['two','three']})
print(result)

  something  a   b     c   d  message
0       one  1   2   3.0   4      NaN
1       NaN  5   6   NaN   8      NaN
2       NaN  9  10  11.0  12      NaN

In [47]:
result.to_csv(fold+'\\out.csv')

In [49]:
import sys
result.to_csv(sys.stdout,sep='|',index=False,header=False,na_rep='NULL')

one|1|2|3.0|4|NULL
NULL|5|6|NULL|8|NULL
NULL|9|10|11.0|12|NULL

In [52]:
json_obj="""
{"name":[{"myself":["ankit"],"mylife":"kiio"},{"age":[21,22],"state":["UP","Punjab"]}],
 "Institute":["ISI","IIIT-D"]
}
"""
import json
python_obj=json.loads(json_obj)
print(python_obj)
json_obj=json.dumps(python_obj)
print(json_obj)

{'name': [{'myself': ['ankit'], 'mylife': 'kiio'}, {'age': [21, 22], 'state': ['UP', 'Punjab']}], 'Institute': ['ISI', 'IIIT-D']}
{"name": [{"myself": ["ankit"], "mylife": "kiio"}, {"age": [21, 22], "state": ["UP", "Punjab"]}], "Institute": ["ISI", "IIIT-D"]}

In [57]:
pd.DataFrame(python_obj['Institute'],columns=['Institute'])

  Institute
0       ISI
1    IIIT-D

In [59]:
data = pd.read_json(fold+'\\example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [61]:
data.to_json('sample.json')

In [62]:
pd.read_json('sample.json')

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [64]:
tables=pd.read_html('table.html')
print(tables[0])

                       Bank NameBank           CityCity StateSt  CertCert  \
0                      Citizens Bank           Sac City      IA      8758
1           Heartland Tri-State Bank            Elkhart      KS     25851
2                First Republic Bank      San Francisco      CA     59017
3                     Signature Bank           New York      NY     57053
4                Silicon Valley Bank        Santa Clara      CA     24735
5                  Almena State Bank             Almena      KS     15426
6         First City Bank of Florida  Fort Walton Beach      FL     16748
7               The First State Bank      Barboursville      WV     14361
8                 Ericson State Bank            Ericson      NE     18265
9   City National Bank of New Jersey             Newark      NJ     21111
10                     Resolute Bank             Maumee      OH     58317
11             Louisa Community Bank             Louisa      KY     58112

                Acquiring InstitutionAI Closing DateClosing  FundFund
0             Iowa Trust & Savings Bank    November 3, 2023     10545
1                Dream First Bank, N.A.       July 28, 2023     10544
2             JPMorgan Chase Bank, N.A.         May 1, 2023     10543
3                   Flagstar Bank, N.A.      March 12, 2023     10540
4   First–Citizens Bank & Trust Company      March 10, 2023     10539
5                           Equity Bank    October 23, 2020     10538
6             United Fidelity Bank, fsb    October 16, 2020     10537
7                        MVB Bank, Inc.       April 3, 2020     10536
8            Farmers and Merchants Bank   February 14, 2020     10535
9                       Industrial Bank    November 1, 2019     10534
10                   Buckeye State Bank    October 25, 2019     10533
11    Kentucky Farmers Bank Corporation    October 25, 2019     10532

In [68]:
time=pd.to_datetime(tables[0]['Closing DateClosing'])
print(time.dt.year.value_counts())

2023    5
2020    4
2019    3
Name: Closing DateClosing, dtype: int64

In [74]:
from lxml import objectify
parsed=objectify.parse(open('Performance_MNR.xml'))
root=parsed.getroot()
xml_data=[]
skip_fields=['PARENT_SEQ','INDICATOR_SEQ','DESIRED_CHANGE','DECIMAL_PLACES']
for ele in root.INDICATOR:
    data={}
    for child in ele.getchildren():
        if child.tag in skip_fields:
            continue
        else:
            data[child.tag]=child.pyval
    xml_data.append(data)
df=pd.DataFrame(xml_data)
df

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,12,Service Indicators,M,%,97.0,,97.0,

In [79]:
from io  import StringIO
root=objectify.parse(StringIO('<a href="http://www.google.com">Google</a>')).getroot()
print(root.get("href"))
print(root.text)

http://www.google.com
Google

In [80]:
df.to_pickle('serialized_dataframe')

In [81]:
pd.read_pickle('serialized_dataframe')

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,Escalator Availability,Percent of the time that escalators are operat...,2011,12,Service Indicators,M,%,97.0,,97.0,

In [91]:
import numpy as np
frame = pd.DataFrame({'a': np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
print(store['obj1'])

           a
0  -0.505008
1   0.364013
2   0.461533
3  -0.651221
4  -0.251317
..       ...
95  0.342657
96  1.926088
97 -0.899588
98 -0.970420
99 -1.313902

[100 rows x 1 columns]

In [92]:
store.put('obj2', frame, format='table')
store.select('obj2', where=['index >= 10 and index <= 15'])

           a
10 -0.669056
11  1.552245
12 -0.357852
13  1.814004
14  1.462315
15  0.585812

In [99]:
list(store.items())

[('/obj1',
  /obj1 (Group) ''
    children := ['axis0' (Array), 'axis1' (Array), 'block0_values' (Array), 'block0_items' (Array)]),
 ('/obj1_col',
  /obj1_col (Group) ''
    children := ['index' (Array), 'values' (Array)]),
 ('/obj2',
  /obj2 (Group) ''
    children := ['table' (Table)]),
 ('/obj3',
  /obj3 (Group) ''
    children := ['table' (Table)])]

In [103]:
#store.close()
frame.to_hdf('mydata.h5', 'obj3', format='table')

In [113]:
xlsx=pd.ExcelFile(fold+'\\ex1.xlsx')
pd.read_excel(xlsx,sheet_name='Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [122]:
writer=pd.ExcelWriter(fold+'\\ex1.xlsx')
frame=pd.DataFrame(np.random.randn(5),columns=['Random Numbers'])
frame.to_excel(writer,sheet_name='Sheet2')
writer.save()

C:\Users\ankit19.gupta\AppData\Local\Temp\ipykernel_13492\3608403225.py:4: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [139]:
import requests
response=requests.get('http://ergast.com/api/f1/2004/1/results.json')
print(response)

<Response [200]>

In [148]:
data=response.json()
print(data['MRData']['xmlns'])

http://ergast.com/mrd/1.5

In [153]:
pd.DataFrame(data).loc['RaceTable']['MRData']

{'season': '2004',
 'round': '1',
 'Races': [{'season': '2004',
   'round': '1',
   'url': 'http://en.wikipedia.org/wiki/2004_Australian_Grand_Prix',
   'raceName': 'Australian Grand Prix',
   'Circuit': {'circuitId': 'albert_park',
    'url': 'http://en.wikipedia.org/wiki/Melbourne_Grand_Prix_Circuit',
    'circuitName': 'Albert Park Grand Prix Circuit',
    'Location': {'lat': '-37.8497',
     'long': '144.968',
     'locality': 'Melbourne',
     'country': 'Australia'}},
   'date': '2004-03-07',
   'Results': [{'number': '1',
     'position': '1',
     'positionText': '1',
     'points': '10',
     'Driver': {'driverId': 'michael_schumacher',
      'code': 'MSC',
      'url': 'http://en.wikipedia.org/wiki/Michael_Schumacher',
      'givenName': 'Michael',
      'familyName': 'Schumacher',
      'dateOfBirth': '1969-01-03',
      'nationality': 'German'},
     'Constructor': {'constructorId': 'ferrari',
      'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari',
      'name': 'Ferrari',
      'nationality': 'Italian'},
     'grid': '1',
     'laps': '58',
     'status': 'Finished',
     'Time': {'millis': '5055757', 'time': '1:24:15.757'},
     'FastestLap': {'rank': '1',
      'lap': '29',
      'Time': {'time': '1:24.125'},
      'AverageSpeed': {'units': 'kph', 'speed': '226.933'}}},
    {'number': '2',
     'position': '2',
     'positionText': '2',
     'points': '8',
     'Driver': {'driverId': 'barrichello',
      'code': 'BAR',
      'url': 'http://en.wikipedia.org/wiki/Rubens_Barrichello',
      'givenName': 'Rubens',
      'familyName': 'Barrichello',
      'dateOfBirth': '1972-05-23',
      'nationality': 'Brazilian'},
     'Constructor': {'constructorId': 'ferrari',
      'url': 'http://en.wikipedia.org/wiki/Scuderia_Ferrari',
      'name': 'Ferrari',
      'nationality': 'Italian'},
     'grid': '2',
     'laps': '58',
     'status': 'Finished',
     'Time': {'millis': '5069362', 'time': '+13.605'},
     'FastestLap': {'rank': '2',
      'lap': '8',
      'Time': {'time': '1:24.179'},
      'AverageSpeed': {'units': 'kph', 'speed': '226.788'}}},
    {'number': '8',
     'position': '3',
     'positionText': '3',
     'points': '6',
     'Driver': {'driverId': 'alonso',
      'permanentNumber': '14',
      'code': 'ALO',
      'url': 'http://en.wikipedia.org/wiki/Fernando_Alonso',
      'givenName': 'Fernando',
      'familyName': 'Alonso',
      'dateOfBirth': '1981-07-29',
      'nationality': 'Spanish'},
     'Constructor': {'constructorId': 'renault',
      'url': 'http://en.wikipedia.org/wiki/Renault_in_Formula_One',
      'name': 'Renault',
      'nationality': 'French'},
     'grid': '5',
     'laps': '58',
     'status': 'Finished',
     'Time': {'millis': '5090430', 'time': '+34.673'},
     'FastestLap': {'rank': '3',
      'lap': '10',
      'Time': {'time': '1:25.088'},
      'AverageSpeed': {'units': 'kph', 'speed': '224.365'}}},
    {'number': '4',
     'position': '4',
     'positionText': '4',
     'points': '5',
     'Driver': {'driverId': 'ralf_schumacher',
      'code': 'SCH',
      'url': 'http://en.wikipedia.org/wiki/Ralf_Schumacher',
      'givenName': 'Ralf',
      'familyName': 'Schumacher',
      'dateOfBirth': '1975-06-30',
      'nationality': 'German'},
     'Constructor': {'constructorId': 'williams',
      'url': 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering',
      'name': 'Williams',
      'nationality': 'British'},
     'grid': '8',
     'laps': '58',
     'status': 'Finished',
     'Time': {'millis': '5116180', 'time': '+1:00.423'},
     'FastestLap': {'rank': '5',
      'lap': '11',
      'Time': {'time': '1:25.824'},
      'AverageSpeed': {'units': 'kph', 'speed': '222.441'}}},
    {'number': '3',
     'position': '5',
     'positionText': '5',
     'points': '4',
     'Driver': {'driverId': 'montoya',
      'code': 'MON',
      'url': 'http://en.wikipedia.org/wiki/Juan_Pablo_Montoya',
      'givenName': 'Juan',
      'familyName': 'Pablo Montoya',
      'dateOfBirth': '1975-09-20',
      'nationality': 'Colombian'},
     'Constructor': {'constructorId': 'williams',
      'url': 'http://en.wikipedia.org/wiki/Williams_Grand_Prix_Engineering',
      'name': 'Williams',
      'nationality': 'British'},
     'grid': '3',
     'laps': '58',
     'status': 'Finished',
     'Time': {'millis': '5124293', 'time': '+1:08.536'},
     'FastestLap': {'rank': '4',
      'lap': '42',
      'Time': {'time': '1:25.286'},
      'AverageSpeed': {'units': 'kph', 'speed': '223.844'}}},
    {'number': '9',
     'position': '6',
     'positionText': '6',
     'points': '3',
     'Driver': {'driverId': 'button',
      'permanentNumber': '22',
      'code': 'BUT',
      'url': 'http://en.wikipedia.org/wiki/Jenson_Button',
      'givenName': 'Jenson',
      'familyName': 'Button',
      'dateOfBirth': '1980-01-19',
      'nationality': 'British'},
     'Constructor': {'constructorId': 'bar',
      'url': 'http://en.wikipedia.org/wiki/British_American_Racing',
      'name': 'BAR',
      'nationality': 'British'},
     'grid': '4',
     'laps': '58',
     'status': 'Finished',
     'Time': {'millis': '5126355', 'time': '+1:10.598'},
     'FastestLap': {'rank': '7',
      'lap': '24',
      'Time': {'time': '1:25.982'},
      'AverageSpeed': {'units': 'kph', 'speed': '222.032'}}},
    {'number': '7',
     'position': '7',
     'positionText': '7',
     'points': '2',
     'Driver': {'driverId': 'trulli',
      'code': 'TRU',
      'url': 'http://en.wikipedia.org/wiki/Jarno_Trulli',
      'givenName': 'Jarno',
      'familyName': 'Trulli',
      'dateOfBirth': '1974-07-13',
      'nationality': 'Italian'},
     'Constructor': {'constructorId': 'renault',
      'url': 'http://en.wikipedia.org/wiki/Renault_in_Formula_One',
      'name': 'Renault',
      'nationality': 'French'},
     'grid': '9',
     'laps': '57',
     'status': '+1 Lap',
     'FastestLap': {'rank': '9',
      'lap': '9',
      'Time': {'time': '1:26.275'},
      'AverageSpeed': {'units': 'kph', 'speed': '221.278'}}},
    {'number': '5',
     'position': '8',
     'positionText': '8',
     'points': '1',
     'Driver': {'driverId': 'coulthard',
      'code': 'COU',
      'url': 'http://en.wikipedia.org/wiki/David_Coulthard',
      'givenName': 'David',
      'familyName': 'Coulthard',
      'dateOfBirth': '1971-03-27',
      'nationality': 'British'},
     'Constructor': {'constructorId': 'mclaren',
      'url': 'http://en.wikipedia.org/wiki/McLaren',
      'name': 'McLaren',
      'nationality': 'British'},
     'grid': '12',
     'laps': '57',
     'status': '+1 Lap',
     'FastestLap': {'rank': '11',
      'lap': '13',
      'Time': {'time': '1:26.328'},
      'AverageSpeed': {'units': 'kph', 'speed': '221.142'}}},
    {'number': '10',
     'position': '9',
     'positionText': '9',
     'points': '0',
     'Driver': {'driverId': 'sato',
      'code': 'SAT',
      'url': 'http://en.wikipedia.org/wiki/Takuma_Sato',
      'givenName': 'Takuma',
      'familyName': 'Sato',
      'dateOfBirth': '1977-01-28',
      'nationality': 'Japanese'},
     'Constructor': {'constructorId': 'bar',
      'url': 'http://en.wikipedia.org/wiki/British_American_Racing',
      'name': 'BAR',
      'nationality': 'British'},
     'grid': '7',
     'laps': '57',
     'status': '+1 Lap',
     'FastestLap': {'rank': '8',
      'lap': '43',
      'Time': {'time': '1:26.077'},
      'AverageSpeed': {'units': 'kph', 'speed': '221.787'}}},
    {'number': '11',
     'position': '10',
     'positionText': '10',
     'points': '0',
     'Driver': {'driverId': 'fisichella',
      'code': 'FIS',
      'url': 'http://en.wikipedia.org/wiki/Giancarlo_Fisichella',
      'givenName': 'Giancarlo',
      'familyName': 'Fisichella',
      'dateOfBirth': '1973-01-14',
      'nationality': 'Italian'},
     'Constructor': {'constructorId': 'sauber',
      'url': 'http://en.wikipedia.org/wiki/Sauber_Motorsport',
      'name': 'Sauber',
      'nationality': 'Swiss'},
     'grid': '14',
     'laps': '57',
     'status': '+1 Lap',
     'FastestLap': {'rank': '10',
      'lap': '39',
      'Time': {'time': '1:26.282'},
      'AverageSpeed': {'units': 'kph', 'speed': '221.260'}}},
    {'number': '15',
     'position': '11',
     'positionText': '11',
     'points': '0',
     'Driver': {'driverId': 'klien',
      'code': 'KLI',
      'url': 'http://en.wikipedia.org/wiki/Christian_Klien',
      'givenName': 'Christian',
      'familyName': 'Klien',
      'dateOfBirth': '1983-02-07',
      'nationality': 'Austrian'},
     'Constructor': {'constructorId': 'jaguar',
      'url': 'http://en.wikipedia.org/wiki/Jaguar_Racing',
      'name': 'Jaguar',
      'nationality': 'British'},
     'grid': '19',
     'laps': '56',
     'status': '+2 Laps',
     'FastestLap': {'rank': '16',
      'lap': '6',
      'Time': {'time': '1:27.840'},
      'AverageSpeed': {'units': 'kph', 'speed': '217.336'}}},
    {'number': '16',
     'position': '12',
     'positionText': '12',
     'points': '0',
     'Driver': {'driverId': 'matta',
      'url': 'http://en.wikipedia.org/wiki/Cristiano_da_Matta',
      'givenName': 'Cristiano',
      'familyName': 'da Matta',
      'dateOfBirth': '1973-09-19',
      'nationality': 'Brazilian'},
     'Constructor': {'constructorId': 'toyota',
      'url': 'http://en.wikipedia.org/wiki/Toyota_Racing',
      'name': 'Toyota',
      'nationality': 'Japanese'},
     'grid': '13',
     'laps': '56',
     'status': '+2 Laps',
     'FastestLap': {'rank': '15',
      'lap': '41',
      'Time': {'time': '1:27.820'},
      'AverageSpeed': {'units': 'kph', 'speed': '217.385'}}},
    {'number': '17',
     'position': '13',
     'positionText': '13',
     'points': '0',
     'Driver': {'driverId': 'panis',
      'url': 'http://en.wikipedia.org/wiki/Olivier_Panis',
      'givenName': 'Olivier',
      'familyName': 'Panis',
      'dateOfBirth': '1966-09-02',
      'nationality': 'French'},
     'Constructor': {'constructorId': 'toyota',
      'url': 'http://en.wikipedia.org/wiki/Toyota_Racing',
      'name': 'Toyota',
      'nationality': 'Japanese'},
     'grid': '18',
     'laps': '56',
     'status': '+2 Laps',
     'FastestLap': {'rank': '14',
      'lap': '35',
      'Time': {'time': '1:27.807'},
      'AverageSpeed': {'units': 'kph', 'speed': '217.417'}}},
    {'number': '19',
     'position': '14',
     'positionText': '14',
     'points': '0',
     'Driver': {'driverId': 'pantano',
      'url': 'http://en.wikipedia.org/wiki/Giorgio_Pantano',
      'givenName': 'Giorgio',
      'familyName': 'Pantano',
      'dateOfBirth': '1979-02-04',
      'nationality': 'Italian'},
     'Constructor': {'constructorId': 'jordan',
      'url': 'http://en.wikipedia.org/wiki/Jordan_Grand_Prix',
      'name': 'Jordan',
      'nationality': 'Irish'},
     'grid': '16',
     'laps': '55',
     'status': '+3 Laps',
     'FastestLap': {'rank': '18',
      'lap': '15',
      'Time': {'time': '1:28.523'},
      'AverageSpeed': {'units': 'kph', 'speed': '215.659'}}},
    {'number': '12',
     'position': '15',
     'positionText': 'R',
     'points': '0',
     'Driver': {'driverId': 'massa',
      'permanentNumber': '19',
      'code': 'MAS',
      'url': 'http://en.wikipedia.org/wiki/Felipe_Massa',
      'givenName': 'Felipe',
      'familyName': 'Massa',
      'dateOfBirth': '1981-04-25',
      'nationality': 'Brazilian'},
     'Constructor': {'constructorId': 'sauber',
      'url': 'http://en.wikipedia.org/wiki/Sauber_Motorsport',
      'name': 'Sauber',
      'nationality': 'Swiss'},
     'grid': '11',
     'laps': '44',
     'status': 'Engine',
     'FastestLap': {'rank': '12',
      'lap': '11',
      'Time': {'time': '1:26.846'},
      'AverageSpeed': {'units': 'kph', 'speed': '219.823'}}},
    {'number': '18',
     'position': '16',
     'positionText': 'R',
     'points': '0',
     'Driver': {'driverId': 'heidfeld',
      'code': 'HEI',
      'url': 'http://en.wikipedia.org/wiki/Nick_Heidfeld',
      'givenName': 'Nick',
      'familyName': 'Heidfeld',
      'dateOfBirth': '1977-05-10',
      'nationality': 'German'},
     'Constructor': {'constructorId': 'jordan',
      'url': 'http://en.wikipedia.org/wiki/Jordan_Grand_Prix',
      'name': 'Jordan',
      'nationality': 'Irish'},
     'grid': '15',
     'laps': '43',
     'status': 'Transmission',
     'FastestLap': {'rank': '13',
      'lap': '27',
      'Time': {'time': '1:27.503'},
      'AverageSpeed': {'units': 'kph', 'speed': '218.173'}}},
    {'number': '20',
     'position': '17',
     'positionText': 'N',
     'points': '0',
     'Driver': {'driverId': 'bruni',
      'url': 'http://en.wikipedia.org/wiki/Gianmaria_Bruni',
      'givenName': 'Gianmaria',
      'familyName': 'Bruni',
      'dateOfBirth': '1981-05-30',
      'nationality': 'Italian'},
     'Constructor': {'constructorId': 'minardi',
      'url': 'http://en.wikipedia.org/wiki/Minardi',
      'name': 'Minardi',
      'nationality': 'Italian'},
     'grid': '20',
     'laps': '43',
     'status': 'Not classified',
     'FastestLap': {'rank': '19',
      'lap': '10',
      'Time': {'time': '1:30.161'},
      'AverageSpeed': {'units': 'kph', 'speed': '211.741'}}},
    {'number': '14',
     'position': '18',
     'positionText': 'R',
     'points': '0',
     'Driver': {'driverId': 'webber',
      'code': 'WEB',
      'url': 'http://en.wikipedia.org/wiki/Mark_Webber_(racing_driver)',
      'givenName': 'Mark',
      'familyName': 'Webber',
      'dateOfBirth': '1976-08-27',
      'nationality': 'Australian'},
     'Constructor': {'constructorId': 'jaguar',
      'url': 'http://en.wikipedia.org/wiki/Jaguar_Racing',
      'name': 'Jaguar',
      'nationality': 'British'},
     'grid': '6',
     'laps': '29',
     'status': 'Transmission',
     'FastestLap': {'rank': '6',
      'lap': '15',
      'Time': {'time': '1:25.952'},
      'AverageSpeed': {'units': 'kph', 'speed': '222.110'}}},
    {'number': '21',
     'position': '19',
     'positionText': 'R',
     'points': '0',
     'Driver': {'driverId': 'baumgartner',
      'url': 'http://en.wikipedia.org/wiki/Zsolt_Baumgartner',
      'givenName': 'Zsolt',
      'familyName': 'Baumgartner',
      'dateOfBirth': '1981-01-01',
      'nationality': 'Hungarian'},
     'Constructor': {'constructorId': 'minardi',
      'url': 'http://en.wikipedia.org/wiki/Minardi',
      'name': 'Minardi',
      'nationality': 'Italian'},
     'grid': '17',
     'laps': '13',
     'status': 'Electrical',
     'FastestLap': {'rank': '20',
      'lap': '8',
      'Time': {'time': '1:30.621'},
      'AverageSpeed': {'units': 'kph', 'speed': '210.666'}}},
    {'number': '6',
     'position': '20',
     'positionText': 'R',
     'points': '0',
     'Driver': {'driverId': 'raikkonen',
      'permanentNumber': '7',
      'code': 'RAI',
      'url': 'http://en.wikipedia.org/wiki/Kimi_R%C3%A4ikk%C3%B6nen',
      'givenName': 'Kimi',
      'familyName': 'Räikkönen',
      'dateOfBirth': '1979-10-17',
      'nationality': 'Finnish'},
     'Constructor': {'constructorId': 'mclaren',
      'url': 'http://en.wikipedia.org/wiki/McLaren',
      'name': 'McLaren',
      'nationality': 'British'},
     'grid': '10',
     'laps': '9',
     'status': 'Engine',
     'FastestLap': {'rank': '17',
      'lap': '7',
      'Time': {'time': '1:27.936'},
      'AverageSpeed': {'units': 'kph', 'speed': '217.098'}}}]}]}

In [8]:
import pandas as pd 
import numpy as np
ser=pd.Series(('ankit','kiio',np.nan,'summi'),index=['a','b','c','d'])
print(ser)

a    ankit
b     kiio
c      NaN
d    summi
dtype: object

In [15]:
print(ser.isnull())
print(ser.isna())
print(ser.isnull().sum())

a    False
b    False
c     True
d    False
dtype: bool
a    False
b    False
c     True
d    False
dtype: bool
1

In [19]:
print(ser.dropna(axis=0))
print(ser[ser.notnull()])

a    ankit
b     kiio
d    summi
dtype: object
a    ankit
b     kiio
d    summi
dtype: object

In [42]:
df=pd.DataFrame([['ankit',np.nan,'ISI'],['soumi',100,np.nan],['summi',100,'ECIL'],[np.nan,np.nan,np.nan],['kiio',100,'IIIT-D']],columns=['Name','Marks','Institute'],index=['a','b','c','d','e'])
print(df)
print(df.dropna(how='all',axis=0)) # drop all rows with null
print(df.dropna(thresh=3)) # rows with atleast 3 np.nan values

    Name  Marks Institute
a  ankit    NaN       ISI
b  soumi  100.0       NaN
c  summi  100.0      ECIL
d    NaN    NaN       NaN
e   kiio  100.0    IIIT-D
    Name  Marks Institute
a  ankit    NaN       ISI
b  soumi  100.0       NaN
c  summi  100.0      ECIL
e   kiio  100.0    IIIT-D
    Name  Marks Institute
c  summi  100.0      ECIL
e   kiio  100.0    IIIT-D

In [49]:
print(df.fillna(1))
#print(df.fillna({'Marks':2.1,'Name':'samiksha'},inplace=True))
print(df.fillna({'Marks':2.1,'Name':'samiksha'}))
print(df.fillna(method='ffill',limit=1))
print(df.fillna({'Marks':df['Marks'].mean()}))

    Name  Marks Institute
a  ankit    1.0       ISI
b  soumi  100.0         1
c  summi  100.0      ECIL
d      1    1.0         1
e   kiio  100.0    IIIT-D
       Name  Marks Institute
a     ankit    2.1       ISI
b     soumi  100.0       NaN
c     summi  100.0      ECIL
d  samiksha    2.1       NaN
e      kiio  100.0    IIIT-D
    Name  Marks Institute
a  ankit    NaN       ISI
b  soumi  100.0       ISI
c  summi  100.0      ECIL
d  summi  100.0      ECIL
e   kiio  100.0    IIIT-D
    Name  Marks Institute
a  ankit  100.0       ISI
b  soumi  100.0       NaN
c  summi  100.0      ECIL
d    NaN  100.0       NaN
e   kiio  100.0    IIIT-D

In [53]:
data = pd.DataFrame({'k1': ['one', 'two'] * 3 + ['two'],'k2': [1, 1, 2, 3, 3, 4, 4]})
print(data)
print(data.duplicated())
print(data.drop_duplicates())
print(data.drop_duplicates(['k1']))
print(data.drop_duplicates(['k1', 'k2'], keep='last'))

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4
0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool
    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
    k1  k2
0  one   1
1  two   1
    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
6  two   4

In [78]:
data=pd.DataFrame(['ankit','kiio','summi'],columns=['Name'],index=['a','b','c'])
print(data)
data['Marks']=data['Name'].map({k:(0 if k=='ankit' else 100) for k in data['Name'] })
print(data)
data['Marks']=data['Name'].map(lambda x:0 if x=='ankit' else 100)
print(data)

    Name
a  ankit
b   kiio
c  summi
    Name  Marks
a  ankit      0
b   kiio    100
c  summi    100
    Name  Marks
a  ankit      0
b   kiio    100
c  summi    100

In [79]:
data=pd.Series([1,999,34,21])
data=data.replace([999,34],np.nan)
print(data)

0     1.0
1     NaN
2     NaN
3    21.0
dtype: float64

In [82]:
data=pd.DataFrame(['ankit','kiio','summi'],columns=['Name'],index=['a','b','c'])
print(data)
data['Name'].replace('summi','soumi',inplace=True)
print(data)

    Name
a  ankit
b   kiio
c  summi
    Name
a  ankit
b   kiio
c  soumi

In [84]:
data=pd.DataFrame(['ankit','kiio','summi'],columns=['Name'],index=['abc','bcd','cde'])
data.rename(index=str.capitalize,columns=str.upper)

      NAME
Abc  ankit
Bcd   kiio
Cde  summi

In [86]:
data.rename(index={'abc':'new','cde':'new_index'},columns={'Name':'New_Name'},inplace=True)
print(data)

          New_Name
new          ankit
bcd           kiio
new_index    summi

In [94]:
b=pd.cut([12,2,1,22,11,34,32,1,41,48,45,51,58,61,66,67,69,70,71,72,90,91,81,81,11,2,3,2,1,2,0],[0,10,20,30,40,50,60,70,80,90,100],right=True,labels=['0-10','11-20','21-30','31-40','41-50','51-60','61-70','71-80','81-90','91-100'])
print(b)
print(b.codes)
print(b.categories)
print(pd.value_counts(b))

['11-20', '0-10', '0-10', '21-30', '11-20', ..., '0-10', '0-10', '0-10', '0-10', NaN]
Length: 31
Categories (10, object): ['0-10' < '11-20' < '21-30' < '31-40' ... '61-70' < '71-80' < '81-90' < '91-100']
[ 1  0  0  2  1  3  3  0  4  4  4  5  5  6  6  6  6  6  7  7  8  9  8  8
  1  0  0  0  0  0 -1]
Index(['0-10', '11-20', '21-30', '31-40', '41-50', '51-60', '61-70', '71-80',
       '81-90', '91-100'],
      dtype='object')
0-10      8
61-70     5
11-20     3
41-50     3
81-90     3
31-40     2
51-60     2
71-80     2
21-30     1
91-100    1
dtype: int64

In [95]:
data = np.random.randn(1000) # Normally distributed
cats = pd.qcut(data, 4) # Cut into quartiles
print(cats)
print(pd.value_counts(cats))

[(0.0084, 0.626], (0.626, 3.354], (0.0084, 0.626], (0.626, 3.354], (0.0084, 0.626], ..., (0.626, 3.354], (0.626, 3.354], (0.626, 3.354], (0.0084, 0.626], (0.626, 3.354]]
Length: 1000
Categories (4, interval[float64, right]): [(-3.62, -0.691] < (-0.691, 0.0084] < (0.0084, 0.626] < (0.626, 3.354]]
(-3.62, -0.691]     250
(-0.691, 0.0084]    250
(0.0084, 0.626]     250
(0.626, 3.354]      250
dtype: int64

In [111]:
data = pd.DataFrame(np.random.randn(1000, 4))
data[(np.abs(data) > 0).any(1)]
data[np.abs(data) > 3] = np.sign(data) * 3
print(data)
# The statement np.sign(data) produces 1 and –1 values based on whether the values in data are positive or negative:

            0         1         2         3
0    0.555229 -0.063679  0.322598  1.370509
1    0.688280 -0.770756 -1.974387 -0.942000
2   -1.254370  0.097759 -0.186317  0.362924
3   -0.634275  1.443248  1.699919  0.492581
4    1.529708  2.928737  1.146503 -1.391692
..        ...       ...       ...       ...
995  0.524295  0.838711  1.587841  0.080143
996 -0.466875  1.822928 -0.349306 -0.968938
997 -0.684669  0.195257 -1.432022 -0.364939
998 -0.559563 -0.596628  2.880303 -0.281358
999 -0.075537  0.024840 -0.358946  0.586875

[1000 rows x 4 columns]

C:\Users\ankit19.gupta\AppData\Local\Temp\ipykernel_10284\569682102.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.any and Series.any will be keyword-only.
  data[(np.abs(data) > 0).any(1)]

In [117]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)),columns=['a','b','c','d'])
print(df)
sampler=np.random.permutation(5)
print(df.take(sampler,axis=0))
# To select a random subset without replacement, you can use the sample method on Series and DataFrame:
print(df.sample(n=3))
#To generate a sample with replacement (to allow repeat choices), pass replace=True to sample:

choices = pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
print(draws)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19
    a   b   c   d
1   4   5   6   7
3  12  13  14  15
2   8   9  10  11
4  16  17  18  19
0   0   1   2   3
    a   b   c   d
3  12  13  14  15
0   0   1   2   3
4  16  17  18  19
0    5
4    4
0    5
1    7
3    6
1    7
1    7
1    7
4    4
0    5
dtype: int64

In [122]:
df=pd.DataFrame({'Name':['ankit','kiio','summi'],'Marks':range(3)})
print(df)
print(pd.get_dummies(df['Name'],prefix='name').join(df[['Marks']]))

    Name  Marks
0  ankit      0
1   kiio      1
2  summi      2

   name_ankit  name_kiio  name_summi  Marks
0           1          0           0      0
1           0          1           0      1
2           0          0           1      2

In [124]:
b=pd.cut([12,2,1,22,11,34,32,1,41,48,45,51,58,61,66,67,69,70,71,72,90,91,81,81,11,2,3,2,1,2,0],[0,10,20,30,40,50,60,70,80,90,100],right=True,labels=['0-10','11-20','21-30','31-40','41-50','51-60','61-70','71-80','81-90','91-100'])
print(pd.get_dummies(b))

    0-10  11-20  21-30  31-40  41-50  51-60  61-70  71-80  81-90  91-100
0      0      1      0      0      0      0      0      0      0       0
1      1      0      0      0      0      0      0      0      0       0
2      1      0      0      0      0      0      0      0      0       0
3      0      0      1      0      0      0      0      0      0       0
4      0      1      0      0      0      0      0      0      0       0
5      0      0      0      1      0      0      0      0      0       0
6      0      0      0      1      0      0      0      0      0       0
7      1      0      0      0      0      0      0      0      0       0
8      0      0      0      0      1      0      0      0      0       0
9      0      0      0      0      1      0      0      0      0       0
10     0      0      0      0      1      0      0      0      0       0
11     0      0      0      0      0      1      0      0      0       0
12     0      0      0      0      0      1      0      0      0       0
13     0      0      0      0      0      0      1      0      0       0
14     0      0      0      0      0      0      1      0      0       0
15     0      0      0      0      0      0      1      0      0       0
16     0      0      0      0      0      0      1      0      0       0
17     0      0      0      0      0      0      1      0      0       0
18     0      0      0      0      0      0      0      1      0       0
19     0      0      0      0      0      0      0      1      0       0
20     0      0      0      0      0      0      0      0      1       0
21     0      0      0      0      0      0      0      0      0       1
22     0      0      0      0      0      0      0      0      1       0
23     0      0      0      0      0      0      0      0      1       0
24     0      1      0      0      0      0      0      0      0       0
25     1      0      0      0      0      0      0      0      0       0
26     1      0      0      0      0      0      0      0      0       0
27     1      0      0      0      0      0      0      0      0       0
28     1      0      0      0      0      0      0      0      0       0
29     1      0      0      0      0      0      0      0      0       0
30     0      0      0      0      0      0      0      0      0       0

In [143]:
"::".join([s.strip() for s  in 'ankit ,   kiio ,  summi'.split(',')]).replace('::','@')

'ankit@kiio@summi'

In [139]:
print([1,2,3].index(3))
print("ankit".index('k'))

2
2

In [152]:
import re 
text="ankit\n summi\t\t\r kiio"
re.split('\s+',text)

['ankit', 'summi', 'kiio']

In [155]:
regex=re.compile('\s+')
regex.split(text)

['ankit', 'summi', 'kiio']

In [156]:
regex.findall(text)

['\n ', '\t\t\r ']

In [158]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
     
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
      
# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)
regex

re.compile(r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}', re.IGNORECASE|re.UNICODE)

In [159]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']